/** Box Model  */
$xs: 480px;
$s: 768px;
$m: 970px;
$l: 1024px;
$xl: 1280px;
$xxl: 1600px;

/** Colors */
$theme-color1: #fff;
$theme-color2: #000;

$theme-color3: #666;
$theme-color4: #999;
$theme-color5: #f6f5f2;

$theme-color6: #114b87;
$theme-color7: #306eaf;
$theme-color8: #3399ff;

$theme-color9: #86181C;

//** Fonts */
$font1: 'Roboto Condensed', sans-serif;
$font2: 'Oswald', sans-serif;

//** Other */
$headings: h1 h2 h3 h4 h5 h6;
$font-size-base: 16px;
$max-width: 1266px;
