.c-search-locations-form {
    @include media($xs) {
        display: flex;
        align-items: center;
    }
    input {
        background-color: $theme-color1;
        border-radius: 5px;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.15);
        font-size: 14px;
        height: 42px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 2;
        padding: 0 16px;
        padding-top: 2px;
        width: 100%;
        margin-bottom: 10px;
        @include media($xs) {
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}
