@import "../common/variables";
@import "../utilities/mixins";

.c-video {
    margin-bottom: 100px;

    &__inner {
        max-width: 870px;
        margin: 0 auto;
        height: 214px;

        @include media($s) {
            height: 500px;
        }

        &.js-vimeo-video-active,
        &.js-youtube-video-active {
            z-index: 12;
            transition: none;
            transform: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__play {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .js-vimeo-poster-loaded &,
        .js-youtube-poster-loaded & {
            opacity: 1;
        }

        svg {
            display: block;
        }

        @keyframes spin {
            0% {
                transform-origin: 50%;
                transform: rotateZ(0deg);
            }
            100% {
                transform-origin: 50%;
                transform: rotateZ(360deg);
            }
        }

        &:hover {
            svg {
                #circle {
                    animation: 1s linear 0s normal none infinite running spin;
                }
            }
        }
    }
}
