.l-container {
    box-sizing: content-box;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    @include media($s) {
        padding: 0 15px;
    }
    &_full {
        max-width: 100%;
    }
}
